data/
logs/

es/data
es/logs

mysql/data
mysql/logs

kafka/kafka-data
kafka/logs

qdrant/data
qdrant/logs

rabbitmq/data
rabbitmq/logs

mongodb/data
mongodb/logs  

redis/data
redis/logs

chromadb/data
chromadb/logs

pg/data
pg/logs

one-api/data
one-api/logs
one-api/one-api.db
